@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Estedad[wght].woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Estedad';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Estedad[wght].woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Estedad';
  font-style: oblique;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Estedad[wght].woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Estedad-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./Estedad-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Estedad-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./Estedad-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Estedad-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./Estedad-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Estedad-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./Estedad-Bold.woff2') format('woff2');
}
